# Compiled output
dist

# Cache
docs/.vitepress/

# Dependency directories
node_modules/
jspm_packages/

# IDEs and editors
.idea
.project
.classpath
.c9/
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
/coverage
/.nyc_output

# OS
.DS_Store
